/*///tells the browser to read the css file as UTF-8. 
This is handy if you CSS contains unicode characters and not only ASCII.*/
@charset "UTF-8";


@import "../css/spriteSheet";
/*//// method for importing .css file into .scss files  ////*/


/*VARS*/
$black: #000;
$white: #fff;
$green: #008000;
$blue-green: #01a3ba;
$grey: #CCC;

body {
	font-family: Tahoma, Geneva, sans-serif;
	height: 100%;
	width: 100%;
};

body, html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
};

div {
	//outline: 1px dotted #f00;
};

.size {
	
	&-300x250{
		height: 248px;
		width: 298px;
	}

	&-300x350{
		height: 348px;
		width: 298px;
	}

	&-300x50{
		height: 48px;
		width: 298px;
	}

	&-320x50{
		height: 48px;
		width: 318px;
	}

	&-320x250{
		height: 248px;
		width: 318px;
	}

	&-336x280{
		height: 278px;
		width: 334px;
	}

	&-160x600 {
		height: 598px;
		width: 158px;
	}

	&-728x90 {
		height: 88px;
		width: 725px;
	}

	&-728x270 {
		height: 268px;
		width: 725px;
	}

	&-300x600 {
		height: 598px;
		width: 298px;
	}

	&-500x500 {
		height: 498px;
		width: 498px;
	}

	&-500x600 {
		height: 598px;
		width: 498px;
	}

	&-970x250{
		height: 248px;
		width: 968px;
	}
	
};


.containerBig {
	background-color: $white;
	height: 270px;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 728px;
}

.container {
	background-color: $white;
	border: 1px solid $black;
	border-right: 2px solid $black;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	top: 0;
}

.wrapper {
	background-color: $white;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10;
}

.zIndex {
	z-index: 9;
}

.cursorPointer {
	cursor: pointer;
}

.moveOver {
	margin: 0 0 0 0;
}

/**/
.topPos {
	top: 90px;
}
.topPos_exp {
	top: 250px;
}
/**/

.imgContainer {
	overflow: hidden;
	position: absolute;
}

/**/
.whiteBlock {
	background-color: $white;
	height: 90px;
	overflow: hidden;
	position: absolute;
	width: 728px;
	bottom: 0;
	z-index: 1;
}
.whiteBlock_exp {
	background-color: $white;
	height: 270px;
	left: 728px;/*245*/
	overflow: hidden;
	position: absolute;
	width: 728px;
	bottom: 0px;
	z-index: 8;
}
/**/
#openPanel {
	left: 516px;
    height: 33px;
    position: absolute;
    top: 28px;
    width: 168px;
    z-index: 11;
}

#closePanel {
	display: none;
	height: 0;
	width: 725px;
}

/* IMAGES */
.images {
	position: absolute;
}

.img1_exp {
	background: url('../images/img1.jpg') no-repeat;
	height: 1131px;
	left: -42px;
    position: absolute;
    top: -470px;
    width: 913px;
}

/* TEXT */
.text1 {
	@extend .icon-text1;
	position: absolute;
}
.text1_exp {
	@extend .icon-text1_exp;
	opacity: 0;
	position: absolute;
	top: 270;
}

.cta {
	@extend .icon-cta;
	opacity: 0;
	position: absolute;
}
.ctaOver {
	@extend .icon-ctaOver;
	display: none;
	left: 516px;
    top: -100px;/*28px;*/
	position: absolute;
	z-index: 10;
}

.cta_exp {
	@extend .icon-cta_exp;
	opacity: 0;
	position: absolute;
}
.ctaOver_exp {
	@extend .icon-ctaOver_exp;
	display: none;
	left: 508px;
    top: -100px;/*183px;*/
	position: absolute;
	z-index: 10;
}

.logo {
	@extend .icon-logo;
	position: absolute;
}
.logo_exp {
	@extend .icon-logo_exp;
	position: absolute;
	left: 270px;
}