/*///tells the browser to read the css file as UTF-8. 
This is handy if you CSS contains unicode characters and not only ASCII.*/
@charset "UTF-8";


@import "../css/spriteSheet";
/*//// method for importing .css file into .scss files  ////*/


/*VARS*/
$black: #000;
$white: #fff;
$green: #008000;
$blue-green: #01a3ba;
$grey: #CCC;

body {
	font-family: Tahoma, Geneva, sans-serif;
	height: 100%;
	width: 100%;
};

body, html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
};

div {
	//outline: 1px dotted #f00;
};

.size {
	
	&-300x250{
		height: 248px;
		width: 298px;
	}

	&-300x350{
		height: 348px;
		width: 297px;
	}

	&-300x50{
		height: 48px;
		width: 298px;
	}

	&-320x50{
		height: 48px;
		width: 318px;
	}

	&-336x280{
		height: 278px;
		width: 334px;
	}

	&-160x600 {
		height: 598px;
		width: 158px;
	}

	&-728x90 {
		height: 88px;
		width: 726px;
	}

	&-300x600 {
		height: 598px;
		width: 298px;
	}

	&-500x500 {
		height: 498px;
		width: 498px;
	}

	&-500x600 {
		height: 598px;
		width: 497px;
	}

	&-970x250{
		height: 248px;
		width: 968px;
	}
	
};


.containerBig {
	background-color: $white;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 500px;
}

.container {
	background-color: $white;
	border: 1px solid $black;
	border-right: 2px solid $black;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	top: 0;
}

.wrapper {
	background-color: $white;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10;
}

.zIndex {
	z-index: 9;
}
.cursorPointer {
	cursor: pointer;
}

.moveOver {
	margin: 0 0 0 100px;
}

/**/
.topPos {
	top: 350px;
}
.topPos_exp {
	top: 500px;
}
/**/

.imgContainer {
	overflow: hidden;
	position: absolute;
}

/**/
.whiteBlock {
	background-color: $white;
	height: 130px;
	overflow: hidden;
	position: absolute;
	width: 300px;
	bottom: -132px;
	z-index: 1;
}
.whiteBlock_exp {
	background-color: $white;
	height: 190px;
	overflow: hidden;
	position: absolute;
	width: 500px;
	bottom: -190px;
	z-index: 8;
}
/**/

#closePanel {
	display: none;
	height: 0;
	width: 0;
}
#openPanel {
	left: 75px;
    height: 28px;
    position: absolute;
    top: 305px;
    width: 150px;
    z-index: 11;
}

/* IMAGES */
.images {
	position: absolute;
}

.img1 {
	background: url('../images/img1.jpg') no-repeat;
	height: 589px;
	left: -262px;
	position: absolute;
    top: -180px;
    width: 882px;
}
.img1_exp {
	background: url('../images/img1_exp.jpg') no-repeat;
	height: 634px;
	left: -134px;
	position: absolute;
    top: -5px;
    width: 950px;
    z-index: 4;
}

/* TEXT */
.text1 {
	@extend .icon-text1;
	position: absolute;
}
.text1_exp {
	@extend .icon-text1_exp;
	position: absolute;
}


/*Cta*/
.cta {
	@extend .icon-cta;
	opacity: 0;
	position: absolute;
}
.ctaOver {
	@extend .icon-ctaOver;
	display: none;
	left: 75px;
    top: -100px;/*305px;*/
	position: absolute;
	z-index: 10;
}
/**/
.cta_exp {
	@extend .icon-cta_exp;
	opacity: 0;
	position: absolute;
}
.ctaOver_exp {
	@extend .icon-ctaOver_exp;
	display: none;
	left: 41px;
    top: -100px;/*427px;*/
    position: absolute;
    z-index: 10;
}

.logo_exp {
	@extend .icon-logo_exp;
	position: absolute;
}